<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static-Website</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="heading">Our Static Website</h1>
    <h3 class="title">{{name}}</h3>
    <img
      src="https://scontent.fbbi2-2.fna.fbcdn.net/v/t39.30808-1/460137693_2466323016887525_1224871971004198031_n.jpg?stp=dst-jpg_s200x200&_nc_cat=111&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=NXyUSnBMHFcQ7kNvgGTo0hD&_nc_ht=scontent.fbbi2-2.fna&oh=00_AYAr7FQlHRKh_ofXXY1r0kQgXB_mgDtxUQkplY2g0fJ8qQ&oe=66F2E1C4"
      alt="avatar"
    />
    <p class="paragraph">
      <span style="font-weight: bold; font-size: 1.2em;">Welcome to Gamer Haven:</span>
<br>
<br>
Level up your gaming experience with us! At Gamer Haven, we’re not just a website; we’re a thriving community of passionate gamers who live and breathe all things gaming. Whether you’re a casual player or a hardcore enthusiast, you’ll find a treasure trove of resources, from in-depth game reviews and tips to the latest news and trending discussions.

Join us as we explore the vast worlds of your favorite titles, connect with fellow gamers, and share strategies to conquer every challenge. Dive into our forums, participate in epic contests, and stay updated with the freshest releases. Your next adventure starts here—let’s game on!
  </body>
</html>